{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Contact-Us</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For any queries & suggestions contact us. We are happy to
            help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mohammad Valeed</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Mohammad Valeed. Currently Pursuing Bachelors in
                    Computer Science and Engineering. My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am also intrested in Web Development and Mobile Application Development</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:mohammadvaleed1022@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/5968/5968534.png" height="40" width="40"></a> :
                        mohammadvaleed1022@gmail.com<br><br>
                <a target="_blank" href='https://github.com/MohammadValeed'><img
                        src="https://cdn-icons-png.flaticon.com/128/270/270798.png" height="40" width="40"></a> :
                        MohammadValeed<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/mohammad-valeed-7083b6229/'><img
                        src="https://cdn-icons-png.flaticon.com/128/2504/2504923.png" height="40" width="40"></a> :
                Mohammad Valeed<br>
            </div>
        </div>
    </div>

    

{% endblock body %}